@import '../../../assets/styles/variables';

:host {
  flex: 0 0 auto;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: $toolbar-btn-color;
  &:focus {
    outline: none;
  }
  .svg-icon {
    display: block;
  }
  &:hover {
    color: lighten($toolbar-btn-color, 5%);
  }
}

.btn-export {
  padding: 3px;
  .svg-icon {
    width: 17px;
    height: 17px;
  }
}
