button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  border-radius: 4px;
  font-weight: normal;
  cursor: pointer;
  height: 28px;
  padding: 0 10px;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

.btn-cancel {
  color: #828282;
}

.btn-delete {
  background-color: #DD5440;
  color: #fff;
  &:hover {
    background-color: darken(#DD5440, 10%);
  }
}

.btns-wrapper {
  margin: 0 -4px;
  button {
    margin: 0 4px;
  }
}
