@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.code {
  flex: 1 1 auto;
  display: flex;
}

#editor {
  flex: 1 1 auto;
  height: initial;
}

// textarea {
//   font-family: monospace;
//   font-size: 13px;
//   flex: 1 1 auto;
//   border: none;
//   resize: none;
//   padding: 24px;
//   &:focus {
//     outline: none;
//   }
// }
