@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  flex: 0 0 auto;
}

.main-container {
  display: flex;
  flex: 1 1 auto;
}

.workspace {
  display: flex;
  flex: 1 1 auto;
  width: 0;
}

app-diagram {
  flex: 0 0 auto;
  width: 50%;
}

app-editor {
  flex: 0 0 auto;
  width: 50%;
  border-right: 1px solid $divider-color;
}

.divider {
  flex: 0 0 auto;
  width: 12px;
  background: $divider-color;
  border: 5px solid #fff;
  border-top-width: 0;
  border-bottom-width: 0;
  user-select: none;
}
