<app-header></app-header>
<div class="main-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="workspace">
    <app-editor class="editor"></app-editor>
    <app-diagram class="diagram"></app-diagram>
  </div>
</div>
<app-sidenav #sidenav (onHidden)="onSidenavHidden()">
  <app-add-folder *ngIf="isAddFolderOpen" [sidenav]="sidenav"></app-add-folder>
  <app-add-project *ngIf="isAddProjectOpen" [sidenav]="sidenav"></app-add-project>
  <app-projects-list *ngIf="isProjectsListOpen" [sidenav]="sidenav"></app-projects-list>
</app-sidenav>
