@import '../../../assets/styles/variables';

.playground {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 9px 0 14px;
  font-size: 13px;
  color: $dark;
  border-bottom: 1px solid $file-hover;
  cursor: pointer;
  .title {
    margin-left: 14px;
  }
  .svg-icon {
    width: 16px;
    height: 16px;
    stroke: $dark;
  }
  &.selected {
    background: $blue2;
    color: #fff;
    border-bottom-color: $blue2;
    .svg-icon {
      stroke: #fff;
    }
  }
}
