@import '../../../assets/styles/variables';

.playground {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 9px 0 16px;
  font-size: 13px;
  color: $blue;
  border-bottom: 1px solid #E5E5E5;
  justify-content: space-between;
  cursor: pointer;
  .svg-icon {
    width: 18px;
    height: 18px;
    stroke: $blue;
  }
  &.selected {
    background: $blue;
    color: #fff;
    border-bottom-color: $blue;
    .svg-icon {
      stroke: #fff;
    }
  }
}
