@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: row;
  width: auto;
  background: transparent;
}

.level-1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 280px;
  background: #1A1A1A;
  color: $light;
  position: relative;
  z-index: 1;
}

.level-2 {
  display: flex;
  width: 0;
}

.project-name {
  background-color: $dark;
  border: none;
  font-size: 12px;
  color: $light;
  border-radius: 4px;
  font-weight: normal;
  height: 28px;
  padding: 0 13px;
  display: inline-flex;
  align-items: center;
}

.sidenav-header {
  height: 44px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.close-btn {
  color: $light;
  opacity: 0.48;
  margin-left: -2px;
  margin-right: 14px;
  .svg-icon {
    width: 16px;
    height: 16px;
    display: block;
  }
  &:hover {
    opacity: 0.8;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  height: 32px;
  opacity: 0.48;
  cursor: pointer;
  user-select: none;
  margin-bottom: 8px;
  &:first-child {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  &:last-child {
    margin-bottom: 2px;
  }
  &:hover {
    opacity: 0.7;
  }
  &.active {
    opacity: 1;
  }
  .icon {
    margin: 0 15px;
  }
  .icon.settings .svg-icon {
    padding: 0;
  }
  .svg-icon {
    display: block;
    width: 18px;
    height: 18px;
    padding: 1px;
  }
  .title {
    font-size: 14px;
  }
}

.sidenav-body {
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
  }
}
