<div
  class="file"
  [ngClass]="{
    toggled: file.isToggled,
    'is-group': isGroup,
    changed: file.isChanged,
    toggled: file.isToggled,
    selected: file.isSelected,
    hovered: isHovered
  }"
  (click)="onClick()"
  (contextmenu)="openContext($event)"
>
  <svg-icon *ngIf="isFile" class="icon-file" icon="file"></svg-icon>
  <ng-container *ngIf="isGroup">
    <svg-icon class="icon-arrow" icon="arrow-round"></svg-icon>
  </ng-container>
  <div class="title">{{ file.title }}</div>
</div>

<div class="dragula" [hidden]="!files || !file.isToggled">
  <app-file
    *ngFor="let file of files"
    [file]="file"
    [path]="path"
  ></app-file>
</div>
