@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex: 1 1 auto;
  font-size: 13px;
  color: $grey;
  > div {
    display: flex;
    align-items: center;
    .svg-icon {
      width: 14px;
      height: 14px;
      stroke: $grey;
      transform: rotate(-90deg);
      margin: 0 4px;
    }
  }
  > div:last-child {
    color: #000;
  }
  .playground > div {
    color: $grey;
  }
}
