@import '../../../assets/styles/variables';

:host {
  flex: 0 0 auto;
  width: 250px;
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(252, 252, 252);
    border-right: 1px solid $divider-color;
  }
}

app-project {
  flex: 1 1 auto;
}

app-footer {
  flex: 0 0 auto;
}
