@import './variables';

.file {
  display: flex;
  align-items: center;
  padding: 0;
  height: 24px;
  user-select: none;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  color: $dark;

  &.is-group {
    color: $grey;
  }

  .icon-arrow {
    width: 10px;
    height: 10px;
    color: $grey;
    margin: 0 1px 0 2px;
    transform: rotate(-90deg);
  }

  .icon-file {
    color: $grey;
    width: 14px;
    height: 14px;
  }

  &:hover, &.hovered {
    background-color: $file-hover;
  }

  &.toggled {
    .icon-arrow {
      transform: rotate(0);
    }
  }

  &.selected {
    color: #fff;
    background: $file-selected;
    .icon-file {
      color: #fff;
    }
    &.changed::after {
      background-color: #fff;
    }
  }

  &.changed {
    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $blue;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -3px;
    }
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 24px;
    padding-top: 1px;
    margin-left: 6px;
  }
}

.file {
  padding-left: 9px;
  + .dragula .file {
    padding-left: 27px;
    + .dragula .file {
      padding-left: 45px;
      + .dragula .file {
        padding-left: 63px;
        + .dragula .file {
          padding-left: 81px;
          + .dragula .file {
            padding-left: 99px;
            + .dragula .file {
              padding-left: 117px;
            }
          }
        }
      }
    }
  }
}
