@import './variables';

app-file {
  display: block;
}

.file {
  display: flex;
  align-items: center;
  padding: 0 9px 0 0;
  height: 24px;
  user-select: none;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  color: #000;

  &.is-group {
    color: $file-color;
  }

  .icon-arrow {
    width: 10px;
    height: 10px;
    color: $file-color;
    margin: 0 1px 0 2px;
    transform: rotate(-90deg);
    flex: 0 0 auto;
  }

  .icon-file {
    color: $file-color;
    width: 14px;
    height: 14px;
    flex: 0 0 auto;
  }

  &:hover, &.hovered {
    background-color: $file-hover;
  }

  &.toggled {
    .icon-arrow {
      transform: rotate(0);
    }
  }

  &.selected {
    color: #fff;
    background: $file-selected;
    .icon-file {
      color: #fff;
    }
    &.changed::after {
      background-color: #fff;
    }
  }

  &.changed {
    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $blue2;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -3px;
    }
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 24px;
    margin-left: 6px;
  }

  app-file-rename {
    flex: 1 1 auto;
    input {
      font-family: $font-family;
      width: 100%;
      padding: 0;
      font-size: 13px;
      border: none;
      display: block;
      padding-left: 6px;
      background-color: inherit;
      color: inherit;
      &:focus {
        outline: none;
      }
    }
  }
}
