// fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-size: 14px;
$line-height: 1.3;

// colors
$black: #000;
$blue: #2f8efe;
$blue2: #308FFF;
$grey: #757575;
$dark: #333;
$darker: #212121;
$light: #E0E0E0;
$sidenav-back: #111;

$green: #3FD481;

// file colors
$file-color: rgba(#000, 0.48);
$file-hover: #e5e5e5;
$file-selected: $blue2;

$divider-color: $file-hover;

$toolbar-btn-color: #acadac;
